[submodule "documentation"]
	path = documentation
	url = git@gitlab.ti.howest.be:ti/2024-2025/s5/project-iv/projecten/project-05/documentation.git
[submodule "sources"]
	path = sources
	url = https://github.com/tobiashungwe/FrameIt-sources.git
