[submodule "documentation"]
	path = documentation
	url = https://github.com/yourusername/FrameIt-documentation.git
[submodule "sources"]
	path = sources
	url = https://github.com/tobiashungwe/FrameIt-sources.git
